body{
	margin: 0px;
	padding: 0px;
}

ul{
		list-style-type: none;
		margin: 0px;
		padding:0px;
		background: #333;
		overflow: hidden; 
}



li a {
	display: block;
	padding: 14px 16px;
	color: white;
	text-decoration: none;
}

.active{
	 background-color: #4CAF93;
}

li a:hover:not(.active){
	background: #111;
}

.pfont{
	font-size: larger;
	font-weight: inherit;
	color: brown;
}

@media only screen and (min-width: 600px){
 	li{

	 float: left;
	}
	.uppernavpanel{
		display: none;
	}
	.navbar{
		display:block !important;
	}

}